# **2020 Survey Dataset Exploration Lab**

## Objectives

After completing this lab you will be able to:

*   Load the dataset that will used thru the capstone project.
*   Explore the dataset.
*   Get familier with the data types.

## Load the dataset

Import the required libraries.

In [2]:
import pandas as pd

In [3]:
# read from CSV
df=pd.read_csv("survey_results_public_2020.csv")
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

## Explore the data set

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [4]:
# your code goes here
df.head(5)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [5]:
# your code goes here
print(df.shape)

(64461, 61)

Print the number of columns in the dataset.

In [6]:
# your code goes here
df.shape

(64461, 61)

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [7]:
# your code goes here
print(df.columns)

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    64461 non-null  int64
 1   MainBranch                    64162 non-null  object
 2   Hobbyist                      64416 non-null  object
 3   Age                           45446 non-null  float64
 4   Age1stCode                    57900 non-null  object
 5   CompFreq                      40069 non-null  object
 6   CompTotal                     34826 non-null  float64
 7   ConvertedComp                 34756 non-null  float64
 8   Country                       64072 non-null  object
 9   CurrencyDesc                  45472 non-null  object
 10  CurrencySymbol                45472 non-null  object
 11  DatabaseDesireNextYear        44070 non-null  object
 12  DatabaseWorkedWith            49537 non-null  object
 13  DevType                       49370 non-null  object
 14  EdLevel                       57431 non-null  object
 15  Employment                    63854 non-null  object
 16  Ethnicity                     45948 non-null  object
 17  Gender                        50557 non-null  object
 18  JobFactors                    49349 non-null  object
 19  JobSat                        45194 non-null  object
 20  JobSeek                       51727 non-null  object
 21  LanguageDesireNextYear        54113 non-null  object
 22  LanguageWorkedWith            57378 non-null  object
 23  MiscTechDesireNextYear        42379 non-null  object
 24  MiscTechWorkedWith            40314 non-null  object
 25  NEWCollabToolsDesireNextYear  47287 non-null  object
 26  NEWCollabToolsWorkedWith      52883 non-null  object
 27  NEWDevOps                     42686 non-null  object
 28  NEWDevOpsImpt                 41732 non-null  object
 29  NEWEdImpt                     48465 non-null  object
 30  NEWJobHunt                    42286 non-null  object
 31  NEWJobHuntResearch            41022 non-null  object
 32  NEWLearn                      56156 non-null  object
 33  NEWOffTopic                   50804 non-null  object
 34  NEWOnboardGood                42623 non-null  object
 35  NEWOtherComms                 57205 non-null  object
 36  NEWOvertime                   43231 non-null  object
 37  NEWPurchaseResearch           37321 non-null  object
 38  NEWPurpleLink                 54803 non-null  object
 39  NEWSOSites                    58275 non-null  object
 40  NEWStuck                      54983 non-null  object
 41  OpSys                         56228 non-null  object
 42  OrgSize                       44334 non-null  object
 43  PlatformDesireNextYear        50605 non-null  object
 44  PlatformWorkedWith            53843 non-null  object
 45  PurchaseWhat                  39364 non-null  object
 46  Sexuality                     43992 non-null  object
 47  SOAccount                     56805 non-null  object
 48  SOComm                        56476 non-null  object
 49  SOPartFreq                    46792 non-null  object
 50  SOVisitFreq                   56970 non-null  object
 51  SurveyEase                    51802 non-null  object
 52  SurveyLength                  51701 non-null  object
 53  Trans                         49345 non-null  object
 54  UndergradMajor                50995 non-null  object
 55  WebframeDesireNextYear        40024 non-null  object
 56  WebframeWorkedWith            42279 non-null  object
 57  WelcomeChange                 52683 non-null  object
 58  WorkWeekHrs                   41151 non-null  float64
 59  YearsCode                     57684 non-null  object
 60  YearsCodePro                  46349 non-null  object
dtypes: float64(4), int64(1), object(56)
memory usage: 30.0+ MB
None

In [9]:
df.describe()

         Respondent           Age      CompTotal  ConvertedComp   WorkWeekHrs
count  64461.000000  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean   32554.079738     30.834111  3.190464e+242   1.037561e+05     40.782174
std    18967.442360      9.585392            inf   2.268853e+05     17.816383
min        1.000000      1.000000   0.000000e+00   0.000000e+00      1.000000
25%    16116.000000     24.000000   2.000000e+04   2.464800e+04     40.000000
50%    32231.000000     29.000000   6.300000e+04   5.404900e+04     40.000000
75%    49142.000000     35.000000   1.250000e+05   9.500000e+04     44.000000
max    65639.000000    279.000000  1.111111e+247   2.000000e+06    475.000000


## Identify the data types of each column


Explore the dataset and identify the data types of each column.

Print the datatype of all column

In [10]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df.dtypes)

Respondent                        int64
MainBranch                       object
Hobbyist                         object
Age                             float64
Age1stCode                       object
CompFreq                         object
CompTotal                       float64
ConvertedComp                   float64
Country                          object
CurrencyDesc                     object
CurrencySymbol                   object
DatabaseDesireNextYear           object
DatabaseWorkedWith               object
DevType                          object
EdLevel                          object
Employment                       object
Ethnicity                        object
Gender                           object
JobFactors                       object
JobSat                           object
JobSeek                          object
LanguageDesireNextYear           object
LanguageWorkedWith               object
MiscTechDesireNextYear           object
MiscTechWorkedWith               object
NEWCollabToolsDesireNextYear     object
NEWCollabToolsWorkedWith         object
NEWDevOps                        object
NEWDevOpsImpt                    object
NEWEdImpt                        object
NEWJobHunt                       object
NEWJobHuntResearch               object
NEWLearn                         object
NEWOffTopic                      object
NEWOnboardGood                   object
NEWOtherComms                    object
NEWOvertime                      object
NEWPurchaseResearch              object
NEWPurpleLink                    object
NEWSOSites                       object
NEWStuck                         object
OpSys                            object
OrgSize                          object
PlatformDesireNextYear           object
PlatformWorkedWith               object
PurchaseWhat                     object
Sexuality                        object
SOAccount                        object
SOComm                           object
SOPartFreq                       object
SOVisitFreq                      object
SurveyEase                       object
SurveyLength                     object
Trans                            object
UndergradMajor                   object
WebframeDesireNextYear           object
WebframeWorkedWith               object
WelcomeChange                    object
WorkWeekHrs                     float64
YearsCode                        object
YearsCodePro                     object
dtype: object

## Print the mean age of the survey participants.

In [11]:
print('The mean age of the survey participants is ', df['Age'].mean().round(1))

The mean age of the survey participants is  30.8

## The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [12]:
print('There are', df['Country'].nunique(), 'unique countries in the survey:')

There are 183 unique countries in the survey:

In [13]:
print('\nCountry                               Respondants')

Country                               Respondants

In [14]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df['Country'].value_counts())

United States                                12469
India                                         8403
United Kingdom                                3896
Germany                                       3890
Canada                                        2191
France                                        1898
Brazil                                        1818
Netherlands                                   1343
Poland                                        1278
Australia                                     1208
Spain                                         1161
Italy                                         1117
Russian Federation                            1092
Sweden                                         886
Pakistan                                       809
Turkey                                         777
Israel                                         653
Switzerland                                    629
Bangladesh                                     609
Romania                                        604
Nigeria                                        593
Mexico                                         540
Austria                                        539
Ukraine                                        539
Czech Republic                                 500
Indonesia                                      499
South Africa                                   494
Iran                                           491
Belgium                                        459
Ireland                                        444
Philippines                                    405
Denmark                                        397
Argentina                                      395
Greece                                         390
Portugal                                       388
Norway                                         384
Hungary                                        371
China                                          371
Viet Nam                                       364
New Zealand                                    353
Finland                                        349
Bulgaria                                       323
Serbia                                         306
Japan                                          297
Sri Lanka                                      295
Colombia                                       285
Egypt                                          281
Kenya                                          271
Nepal                                          242
Malaysia                                       231
Singapore                                      228
South Korea                                    201
Slovakia                                       188
Croatia                                        185
Chile                                          181
Morocco                                        176
Lithuania                                      171
Taiwan                                         158
Slovenia                                       157
Thailand                                       148
Estonia                                        145
Belarus                                        129
Tunisia                                        125
United Arab Emirates                           115
Latvia                                         111
Hong Kong (S.A.R.)                             111
Ghana                                          105
Peru                                           101
Uruguay                                        100
Bosnia and Herzegovina                          96
Algeria                                         94
Saudi Arabia                                    90
Republic of Korea                               88
Afghanistan                                     84
Uganda                                          81
Costa Rica                                      76
Dominican Republic                              72
Lebanon                                         71
Venezuela, Bolivarian Republic of...            70
Georgia                                         67
Armenia                                         64
Kazakhstan                                      61
Ethiopia                                        59
Jordan                                          57
Albania                                         54
Iceland                                         53
Myanmar                                         51
Azerbaijan                                      50
Republic of Moldova                             50
Cyprus                                          50
Cameroon                                        50
Guatemala                                       49
Ecuador                                         49
Malta                                           47
Iraq                                            44
Luxembourg                                      42
Uzbekistan                                      41
Bolivia                                         40
The former Yugoslav Republic of Macedonia       38
Nicaragua                                       35
Sudan                                           34
Kosovo                                          34
Rwanda                                          31
United Republic of Tanzania                     31
Nomadic                                         31
Zimbabwe                                        31
Cambodia                                        31
Paraguay                                        26
El Salvador                                     26
Senegal                                         26
Panama                                          24
Cuba                                            22
Zambia                                          21
Madagascar                                      21
Honduras                                        21
Qatar                                           20
Somalia                                         18
Mauritius                                       18
Kuwait                                          18
CÃ´te d'Ivoire                                   17
Kyrgyzstan                                      16
Jamaica                                         14
Andorra                                         13
Syrian Arab Republic                            13
Montenegro                                      13
Mongolia                                        12
Oman                                            11
Maldives                                        10
Togo                                            10
Bahrain                                          9
Benin                                            9
Angola                                           9
Isle of Man                                      8
Congo, Republic of the...                        8
Botswana                                         8
Malawi                                           8
Libyan Arab Jamahiriya                           8
Namibia                                          8
Democratic Republic of the Congo                 7
Lao People's Democratic Republic                 7
Bhutan                                           7
Swaziland                                        7
Yemen                                            7
Mozambique                                       7
Trinidad and Tobago                              7
Burkina Faso                                     6
Sierra Leone                                     6
Niger                                            5
Guyana                                           5
Barbados                                         5
Guinea                                           5
Haiti                                            5
Turkmenistan                                     4
Tajikistan                                       4
Mauritania                                       4
Gambia                                           4
Belize                                           4
Saint Vincent and the Grenadines                 3
Eritrea                                          3
Brunei Darussalam                                3
Bahamas                                          3
Solomon Islands                                  2
Monaco                                           2
Timor-Leste                                      2
Burundi                                          2
Djibouti                                         2
Cape Verde                                       2
San Marino                                       2
Papua New Guinea                                 2
Antigua and Barbuda                              2
Gabon                                            1
Liechtenstein                                    1
North Korea                                      1
Fiji                                             1
Micronesia, Federated States of...               1
Mali                                             1
Chad                                             1
Grenada                                          1
Kiribati                                         1
Nauru                                            1
Lesotho                                          1
Saint Lucia                                      1
Marshall Islands                                 1
Name: Country, dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    64461 non-null  int64
 1   MainBranch                    64162 non-null  object
 2   Hobbyist                      64416 non-null  object
 3   Age                           45446 non-null  float64
 4   Age1stCode                    57900 non-null  object
 5   CompFreq                      40069 non-null  object
 6   CompTotal                     34826 non-null  float64
 7   ConvertedComp                 34756 non-null  float64
 8   Country                       64072 non-null  object
 9   CurrencyDesc                  45472 non-null  object
 10  CurrencySymbol                45472 non-null  object
 11  DatabaseDesireNextYear        44070 non-null  object
 12  DatabaseWorkedWith            49537 non-null  object
 13  DevType                       49370 non-null  object
 14  EdLevel                       57431 non-null  object
 15  Employment                    63854 non-null  object
 16  Ethnicity                     45948 non-null  object
 17  Gender                        50557 non-null  object
 18  JobFactors                    49349 non-null  object
 19  JobSat                        45194 non-null  object
 20  JobSeek                       51727 non-null  object
 21  LanguageDesireNextYear        54113 non-null  object
 22  LanguageWorkedWith            57378 non-null  object
 23  MiscTechDesireNextYear        42379 non-null  object
 24  MiscTechWorkedWith            40314 non-null  object
 25  NEWCollabToolsDesireNextYear  47287 non-null  object
 26  NEWCollabToolsWorkedWith      52883 non-null  object
 27  NEWDevOps                     42686 non-null  object
 28  NEWDevOpsImpt                 41732 non-null  object
 29  NEWEdImpt                     48465 non-null  object
 30  NEWJobHunt                    42286 non-null  object
 31  NEWJobHuntResearch            41022 non-null  object
 32  NEWLearn                      56156 non-null  object
 33  NEWOffTopic                   50804 non-null  object
 34  NEWOnboardGood                42623 non-null  object
 35  NEWOtherComms                 57205 non-null  object
 36  NEWOvertime                   43231 non-null  object
 37  NEWPurchaseResearch           37321 non-null  object
 38  NEWPurpleLink                 54803 non-null  object
 39  NEWSOSites                    58275 non-null  object
 40  NEWStuck                      54983 non-null  object
 41  OpSys                         56228 non-null  object
 42  OrgSize                       44334 non-null  object
 43  PlatformDesireNextYear        50605 non-null  object
 44  PlatformWorkedWith            53843 non-null  object
 45  PurchaseWhat                  39364 non-null  object
 46  Sexuality                     43992 non-null  object
 47  SOAccount                     56805 non-null  object
 48  SOComm                        56476 non-null  object
 49  SOPartFreq                    46792 non-null  object
 50  SOVisitFreq                   56970 non-null  object
 51  SurveyEase                    51802 non-null  object
 52  SurveyLength                  51701 non-null  object
 53  Trans                         49345 non-null  object
 54  UndergradMajor                50995 non-null  object
 55  WebframeDesireNextYear        40024 non-null  object
 56  WebframeWorkedWith            42279 non-null  object
 57  WelcomeChange                 52683 non-null  object
 58  WorkWeekHrs                   41151 non-null  float64
 59  YearsCode                     57684 non-null  object
 60  YearsCodePro                  46349 non-null  object
dtypes: float64(4), int64(1), object(56)
memory usage: 30.0+ MB

In [16]:
df.isnull().sum()

Respondent                0
MainBranch              299
Hobbyist                 45
Age                   19015
Age1stCode             6561
                      ...
WebframeWorkedWith    22182
WelcomeChange         11778
WorkWeekHrs           23310
YearsCode              6777
YearsCodePro          18112
Length: 61, dtype: int64

In [17]:
df = df.dropna()

In [18]:
df.isnull().sum()

Respondent            0
MainBranch            0
Hobbyist              0
Age                   0
Age1stCode            0
                     ..
WebframeWorkedWith    0
WelcomeChange         0
WorkWeekHrs           0
YearsCode             0
YearsCodePro          0
Length: 61, dtype: int64

In [19]:
df = df.dropna(axis=1)

In [20]:
df.shape

(4213, 61)

In [21]:
df.duplicated().sum()

0

In [22]:
df.head(3)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
9,10,I am a developer by profession,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,Mathematics or statistics,Flask;jQuery,Flask;jQuery,Somewhat more welcome now than last year,36.0,8,4
32,33,I am a developer by profession,Yes,39.0,14,Monthly,4900.0,63564.0,Belgium,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Gatsby;React.js;Ruby on Rails,Angular;Angular.js;Django;Express;React.js,Just as welcome now as I felt last year,40.0,20,14
41,42,I am a developer by profession,No,32.0,14,Yearly,130000.0,130000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Spring,ASP.NET;Flask;React.js;Spring,Somewhat less welcome now than last year,37.0,16,10

In [23]:
df.describe()

         Respondent          Age     CompTotal  ConvertedComp  WorkWeekHrs
count   4213.000000  4213.000000  4.213000e+03   4.213000e+03  4213.000000
mean   27533.329694    32.072158  2.740265e+06   1.116038e+05    41.265523
std    18439.176546     7.482935  4.297804e+07   2.459682e+05    15.344240
min       10.000000    17.000000  0.000000e+00   0.000000e+00     2.000000
25%    12200.000000    26.000000  3.000000e+04   3.037200e+04    40.000000
50%    24863.000000    31.000000  7.200000e+04   6.050500e+04    40.000000
75%    46016.000000    36.000000  1.300000e+05   1.000000e+05    45.000000
max    64938.000000    70.000000  1.900000e+09   2.000000e+06   425.000000

In [24]:
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
9,10,I am a developer by profession,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,Mathematics or statistics,Flask;jQuery,Flask;jQuery,Somewhat more welcome now than last year,36.0,8,4
32,33,I am a developer by profession,Yes,39.0,14,Monthly,4900.0,63564.0,Belgium,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Gatsby;React.js;Ruby on Rails,Angular;Angular.js;Django;Express;React.js,Just as welcome now as I felt last year,40.0,20,14
41,42,I am a developer by profession,No,32.0,14,Yearly,130000.0,130000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Spring,ASP.NET;Flask;React.js;Spring,Somewhat less welcome now than last year,37.0,16,10
46,47,I am a developer by profession,Yes,53.0,10,Yearly,58000.0,74970.0,United Kingdom,Pound sterling,...,Neither easy nor difficult,Appropriate in length,No,"A natural science (such as biology, chemistry,...",Flask;Spring,Flask;Spring,Just as welcome now as I felt last year,40.0,43,28
68,69,I am a developer by profession,Yes,25.0,12,Yearly,550000.0,594539.0,France,European Euro,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Flask,Django;Flask,Just as welcome now as I felt last year,40.0,13,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61613,62863,I am a developer by profession,Yes,30.0,11,Yearly,230000.0,230000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Information systems, information technology, o...",Angular;Express;React.js,Express;React.js,Just as welcome now as I felt last year,40.0,10,7
61636,62886,I am a developer by profession,Yes,32.0,24,Yearly,102700.0,102700.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Information systems, information technology, o...",Angular,Angular;Angular.js;ASP.NET Core,Somewhat more welcome now than last year,45.0,7,5
61654,62904,I am a developer by profession,Yes,33.0,24,Yearly,95000.0,95000.0,United States,United States dollar,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",Express;React.js,Express;Laravel;React.js;Vue.js,Just as welcome now as I felt last year,50.0,9,7
61993,63288,I am a developer by profession,No,31.0,16,Yearly,65000.0,84019.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;Express,Angular;Angular.js;Express,Just as welcome now as I felt last year,40.0,14,7
63517,64938,I am a developer by profession,No,33.0,13,Yearly,55000.0,59454.0,France,European Euro,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Flask,Django;Flask;jQuery;Ruby on Rails,Just as welcome now as I felt last year,40.0,20,12

In [25]:
df.to_csv('cleanData_survey_results_public_2020.csv', index=False)

In [26]:
df.shape

(4213, 61)